
.btn-custom {
    text-decoration: none;
    color: #fff;
    background-color: #3AAEE0;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid white;
    text-align: center;
    border-radius: 9px;
}